{{ define "main" }}
<div class="row justify-content-center">
  <main class="docs-content col-12 col-lg-11 col-xl-9">
    <div class="page-header d-flex flex-row justify-content-between align-items-start">
      <div>
        <h1>{{ .Title }}</h1>
      </div>
      {{ if site.Params.doks.aiButtons -}}
      <div>
        {{ partial "main/ai-buttons.html" . }}
      </div>
      {{ end -}}
    </div>
    {{ if site.Params.doks.headlineHash -}}
      {{ partial "main/headline-hash" .Content }}
    {{ else -}}
      {{ .Content }}
    {{ end -}}
    <div class="page-footer-meta d-flex flex-column flex-md-row justify-content-between">
      {{ if site.Params.doks.lastMod -}}
        {{ partial "main/last-modified.html" . }}
      {{ end -}}
      {{ if site.Params.doks.editPage -}}
        {{ partial "main/edit-page.html" . }}
      {{ end -}}
    </div>
  </main>
</div>
{{ end }}
